.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  color: inherit;

  background-color: var(--primary);
  border: solid 1px var(--primary);
  border-radius: var(--border-radius);

  transition: all 0.2s ease-in-out;
}

.button-keyboard {
  width: 60px;
  height: 60px;
}

.modal-button {
  padding: 10px;
  font-weight: bold;
  color: var(--static-white);
}

.button-keyboard:disabled {
  cursor: auto;
  background-color: var(--dark);
}

@media (hover: hover) {
  .button-keyboard:hover {
    background-color: var(--primary-alpha);
  }

  .button-keyboard:disabled:hover {
    background-color: var(--dark);
  }
}

.button-keyboard:active,
.button-keyboard-active {
  transform: translateY(4px);
  background-color: var(--dark);
}

.button-keyboard:disabled:active {
  transform: translateY(0);
}
