.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  color: inherit;

  transition: all 0.2s ease-in-out;
}

.button-keyboard {
  width: 60px;
  height: 60px;

  background-color: var(--primary);
  border: solid 1px var(--primary);
  border-radius: var(--border-radius);
}

.button-keyboard:disabled {
  cursor: auto;
  background-color: var(--dark);
}

@media (hover: hover) {
  .button-keyboard:hover {
    background-color: var(--primary-alpha);
  }
  .button-keyboard:disabled:hover {
  background-color: var(--dark);
}
}

.button-keyboard:active,
.button-keyboard-active {
  transform: translateY(4px);
  background-color: var(--dark);
}
