.modal {
  border-radius: var(--border-radius);
  background: var(--content-background);
  transition: all 0.2s ease-in-out;
  opacity: 0;
  border: none;
  max-width: 400px;
  padding: 30px;
}

.modal::backdrop {
  background: var(--overlay);
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.modal-text {
  padding: 20px;
  color: var(--dark);
  background-color: var(--static-white);
  border-radius: var(--border-radius);
}

.modal[open] {
  opacity: 1;
}

html:has(.modal[open]) {
  overflow-y: hidden;
}

@starting-style {
  .modal[open] {
    opacity: 0;
  }

  .modal[open]::backdrop {
    background: transparent;
  }
}

